@import "tailwindcss/base";

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--Emerald);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--Sage);
  border-radius: 20px;
}


@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 255, 255, 255;
  --Emerald: '#244B5A';
  --Sage: '#85AF9A';
  --Cool-Gray: '#D0CFCD';

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
