@import "tailwindcss/base";

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--Emerald);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--Sage);
  border-radius: 20px;
}


@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 255, 255, 255;
  --Emerald: '#244B5A';
  --Sage: '#85AF9A';
  --Cool-Gray: '#D0CFCD';

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --Emerald: '#244B5A';
    --Sage: '#85AF9A';
    --Cool-Gray: '#D0CFCD';
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}
